:root {
  --text-color: #000000;
  --background-color: #FFFFFF;
  --icon-color: #FF7F50;
}

html { /* HTML smooth scroll when navbar_menu clicked*/
  scroll-behavior: smooth;
}

body { /* Setup for entire body */
  margin: 0;
  font-family: "Piazzolla";
}

h1 { /* Title of each section */
  font-size: 32px;
  font-weight: bold;
  text-decoration: underline;
}

a { /* navbar_menu (about, exp, ...) */
  text-decoration: none;
  color: var(--text-color);
}

section { /* Size of each sections */
  height: auto;
  width: 95vw;
  display: flex;
}

img {
  max-width: 500px;
  height: 350px;
  max-height: 350px;
  filter: brightness(90%);
  padding: 20px;
}

.navbar { /* Entire top bar (name + menu) */
  display: flex;
  position: fixed;
  right: 0;
  left: 0;
  justify-content: space-between;
  align-items: baseline;
  background-color: var(--background-color);
  padding: 40px 80px;
}

.navbar_name { /* Name and Logo */
  font-size: 42px;
  font-weight: lighter;
  color: var(--text-color);
}

.navbar_name i { /* Logo */
  color: var(--icon-color);
}

.navbar_menu { /* menu (about, exp, port, contact) */
  display: flex;
  font-size: 18px;
  font-weight: bold;
  list-style: none;
  padding-left: 0;
}

#aboutBtn {
  opacity: 1;
}

#portBtn, #contactBtn {
  opacity: 0.5;
}

.navbar_menu li { /* Setup for each menu item */
  padding: 8px 28px;
}

.navbar_menu li:hover { /* menu item hover effect */
  background-color: var(--icon-color);
  border-radius: 4px;
}

.navbar_menu_icon { /* Hamburger icon */
  display: none;
  position: absolute;
  right: 32px;
  top: 20px;
  font-size: 24px;
  color: var(--icon-color);
}

@media screen and (max-width: 800px) { /* When Scrren reduced in width size */
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }

  .navbar_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar_menu.active {
    display: flex;
  }

  .navbar_menu li {
    width: 100%;
    text-align: center;
  }

  .navbar_menu_icon {
    display: block;
  }
}

#profile_pic { /* Picture in About section */
  float: left;
  height: 100%;
  width: auto;
  max-width: 100%;
  margin: 10px;
  margin-right: 40px;
  /* May extend up to 80~100 depends on how much things I have to write */
}

.about_paragraph, .portfolio_paragraph, .contact_paragraph { /* Entire About section */
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  padding-top: 150px;
  padding-left: 10px;
  z-index: -1;
}

#github { /* Bolding github links */
  text-decoration: underline;
  font-weight: bold;
}

.hobby_list { /* List of hobbies in About section */
  margin-top: 0;
  float: left;
}

#portfolio_title {
  text-align: center;
}

.images {
  vertical-align: middle;
  display: table-cell;
  text-align: center;
}

.images .android, .backpack, .puzzle, .maze, .portfolio, .chat {
  display: inline-block;
}

.android, .backpack, .puzzle, .maze, .portfolio, .chat {
  margin: 10px;
  background-color: #C0C0C0;
  position: relative;
  width: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}
/* Image hovers, all images here */
.android:hover .overlay{
  width: 100%;
}

/* Scroll Trigger */
.visible, .invisible {
  opacity: 0.0;
  transition: opacity 3s ease;
}
.visible {
  opacity: 1.0;
}
