:root {
  --text-color: #000000;
  --background-color: #FFFFFF;
  --icon-color: #FF7F50;
}

body {
  margin: 0;
  font-family: "Piazzolla";
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.navbar {
  display: flex;
  position: fixed;
  right: 0;
  left: 0;
  justify-content: space-between;
  align-items: baseline;
  background-color: var(--background-color);
  padding: 40px 80px;
}

.navbar_name {
  font-size: 42px;
  font-weight: lighter;
  color: var(--text-color);
}

.navbar_name i {
  color: var(--icon-color);
}

.navbar_menu {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  list-style: none;
  padding-left: 0;
}

#aboutBtn {
  opacity: 1;
}

#expBtn, #portBtn, #contactBtn {
  opacity: 0.5;
}

.navbar_menu li {
  padding: 8px 28px;
}

.navbar_menu li:hover {
  background-color: var(--icon-color);
  border-radius: 4px;
}

.navbar_menu_icon {
  display: none;
  position: absolute;
  right: 32px;
  top: 20px;
  font-size: 24px;
  color: var(--icon-color);
}

@media screen and (max-width: 1000px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }

  .navbar_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar_menu.active {
    display: flex;
  }

  .navbar_menu li {
    width: 100%;
    text-align: center;
  }

  .navbar_menu_icon {
    display: block;
  }
}

section {
  height: 100vh;
  width: 95vw;
  display: flex;
}

#profile_pic {
  float: left;
  height: 80%;
  width: auto;
  max-width: 100%;
  margin: 10px;
  margin-right: 40px;
  /* May extend up to 80~100 depends on how much things I have to write */
}

.about_paragraph {
  padding-top: 150px;
  padding-left: 10px;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  text-decoration: underline;
}

#github {
  text-decoration: underline;
}

.hobby_list {
  margin-top: 0;
  float: left;
}
